﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Reselling.Presentation.Models;

@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<br />
<form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">
    <h4>@Localizer["Use a local account to log in."]</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Login" class="col-md-2 control-label">@Localizer["Login"]</label>
        <div class="col-md-10">
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">@Localizer["Password"]</label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">@Localizer["LoginButton"]</button>
        </div>
    </div>
    <p>
        <a asp-action="Register">@Localizer["Register as a new user?"]</a>
    </p>
</form>
