﻿﻿@model Reselling.Presentation.Models.RegisterModel
@{
    ViewData["Title"] = Localizer["Register"];
}

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal">
    <h4>@Localizer["Create a new account"]</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Login" class="col-md-2 control-label">@Localizer["Login"]</label>
        <div class="col-md-10">
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">@Localizer["Password"]</label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PasswordСonfirmation" class="col-md-2 control-label">@Localizer["PasswordСonfirmation"]</label>
        <div class="col-md-10">
            <input asp-for="PasswordСonfirmation" class="form-control" />
            <span asp-validation-for="PasswordСonfirmation" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">@Localizer["Register"]</button>
        </div>
    </div>
</form>