﻿@using Reselling.Presentation.Models

@{
    ViewData["Title"] = "_LoginPartial";
}

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Localizer["Administration"]<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-controller="Cities" asp-action="Index">@Localizer["Cities"]</a></li>
                        <li><a asp-controller="Venues" asp-action="Index">@Localizer["Venues"]</a></li>
                        <li><a asp-controller="Events" asp-action="Index">@Localizer["Events"]</a></li>
                        <li class="divider"></li>
                        <li><a asp-controller="User" asp-action="UserList">@Localizer["Roles"]</a></li>
                    </ul>
                </li>
            }
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Localizer["Hi"], @User.Claims.FirstOrDefault(claim => claim.Type == "UserName").Value<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a asp-controller="User" asp-action="UserTickets">@Localizer["My Tickets"]</a></li>
                    <li><a asp-controller="User" asp-action="UserOrders">@Localizer["My orders"]</a></li>
                    <li class="divider"></li>
                    <li><a asp-controller="User" asp-action="UserInfo">@Localizer["User info"]</a></li>
                </ul>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Log off"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
        <li><a asp-controller="Account" asp-action="Login">@Localizer["Log in"]</a></li>
    </ul>
}
