﻿﻿@model Reselling.Presentation.Models.TicketModel
@{
    ViewData["Title"] = Localizer["Sell Ticket"];
}

<form asp-controller="Tickets" asp-action="Sell" method="post" class="form-horizontal">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <input type="hidden" asp-for="EventId" value="@Model.EventId" name="EventId"/>
    
    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label">@Localizer["Price"]</label>
        <div class="col-md-10">
            <input asp-for="Price" type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label">@Localizer["Desctiption"]</label>
        <div class="col-md-10">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="reset" class="btn btn-default">@Localizer["Reset"]</button>
            <button type="submit" class="btn btn-primary">@Localizer["Sell"]</button>
        </div>
    </div>
</form>