﻿@model Reselling.Presentation.Models.EventTickets
@{
    ViewData["Title"] = "Tickets";
}
<br/>
<div class="jumbotron event-info">
    <h2 class="descript name">
        @Model.Event.Name
    </h2>
    <div class="clearfix">
        <img class="pull-left img-rounded img-responsive ticket-img img-shadow image-size" src="@Model.Event.Banner" alt="Model.Event.Name"/>
        <h4 class="descript venue">
            @Model.Event.Venue.Name
        </h4>
        <h4 class="descript date">
            @Model.Event.Date.ToString("dd.MM.yyyy")
        </h4>
        <h4 class="descript city">
            @Model.Event.Venue.City.Name, @Model.Event.Venue.Address
        </h4>
        <p class="descript description"><small>@Model.Event.Description</small></p>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Tickets" asp-action="Sell" class="btn btn-primary btn-lg" asp-route-id=@Model.Event.Id>@Localizer["Sell Ticket"] </a>
    }
    @if (Model.Tickets.Count > 0)
    {
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>@Localizer["Seller"]</th>
                    <th>@Localizer["Price"]</th>
                    <th>@Localizer["Description"]</th>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <th>@Localizer["Action"]</th>
                    }
                    
                </tr>
            </thead>
            <tbody>
                @foreach (Reselling.Business.Models.Ticket ticket in Model.Tickets)
                {
                    <tr>
                        <td>@ticket.Seller.Login</td>
                        <td>@ticket.Price Br</td>
                        <td>@ticket.Description</td>
                        @if (User.Identity.Name != ticket.Seller.Login && User.Identity.IsAuthenticated)
                        {
                            <td><a class="btn btn-primary btn-xs" asp-controller="Tickets" asp-action="Buy" asp-route-id="@ticket.Id">@Localizer["Buy Ticket"]</a></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 >
            No tickets..
        </h3 >
    }
</div>