﻿﻿@model Reselling.Presentation.Models.Confirmation.RejectModel
@{
    ViewData["Title"] = Localizer["Rejection"];
}

<form asp-controller="Confirmation" asp-action="Reject" method="post" class="form-horizontal">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="OrderId" value="@Model.OrderId" name="OrderId" />
    <div class="form-group">
        <label asp-for="Comment" class="col-md-2 control-label">@Localizer["Comment"]</label>
        <div class="col-md-10">
            <input asp-for="Comment" class="form-control" />
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="reset" class="btn btn-default">@Localizer["Reset"]</button>
            <button type="submit" class="btn btn-primary">@Localizer["Reject"]</button>
        </div>
    </div>
</form>