﻿﻿@model Reselling.Presentation.Models.ChangeRoleModel
@{
    ViewData["Title"] = Localizer["Change Role"];
}

<form asp-controller="User" asp-action="ChangeRole" method="post" class="form-horizontal">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" value="@Model.UserId" name="UserId" />
    <div class="form-group">
        <label asp-for="RoleId" class="col-md-2 control-label">@Localizer["Role"]</label>
        <div class="col-md-10">
            <select class="form-control" id="select" asp-for="RoleId" asp-items="@(new SelectList(ViewBag.RolesList,"Id","Name"))">
            </select>
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Login" class="col-md-2 control-label">@Localizer["User"]</label>
        <div class="col-md-10">
            <h5>
                @Model.Login
            </h5>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="reset" class="btn btn-default">@Localizer["Reset"]</button>
            <button type="submit" class="btn btn-primary">@Localizer["Change"]</button>
        </div>
    </div>
</form>