﻿@model Reselling.Presentation.Models.UserTickets

@{
    ViewData["Title"] = Localizer["UserTickets"];
}
<br />
<div class="jumbotron">
    <h3>@Localizer["You tickets"], @User.Claims.FirstOrDefault(claim => claim.Type == "UserName").Value:</h3>
    <hr />
    @if (Model.SellingTickets.Count == 0 && Model.SoldTickets.Count == 0 && Model.WaitingConfirmationTickets.Count == 0)
    {
        <h3>@Localizer["Your ticket list is empty"]</h3>
    }
    else
    {
        <ul class="nav nav-tabs">
            <li class="active"><a href="#selling" data-toggle="tab" aria-expanded="false">@Localizer["Selling tickets"]</a></li>
            <li class=""><a href="#waitingConfirmation" data-toggle="tab" aria-expanded="false">@Localizer["Waiting Confirmation tickets"]</a></li>
            <li class=""><a href="#sold" data-toggle="tab" aria-expanded="false">@Localizer["Sold tickets"]</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="selling">
                @if (Model.SellingTickets.Count > 0)
                {
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>@Localizer["Event"]</th>
                                <th>@Localizer["Event date"]</th>
                                <th>@Localizer["Price"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.SellingTickets)
                            {
                                <tr class="active">
                                    <td>@ticket.Event.Name</td>
                                    <td>@ticket.Event.Date.ToString("dd.MM.yyyy")</td>
                                    <td>@ticket.Price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h3>@Localizer["You do not sell tickets"]</h3>
                }
            </div>
            <div class="tab-pane fade" id="waitingConfirmation">
                @if (Model.WaitingConfirmationTickets.Count > 0)
                {
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>@Localizer["Event"]</th>
                                <th>@Localizer["Event date"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>@Localizer["Buyer"]</th>
                                <th>@Localizer["Action"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.WaitingConfirmationTickets)
                            {
                                <tr class="active">
                                    <td>@order.Ticket.Event.Name</td>
                                    <td>@order.Ticket.Event.Date.ToString("dd.MM.yyyy")</td>
                                    <td>@order.Ticket.Price</td>
                                    <td>@order.Buyer.Login</td>
                                    <td>
                                        <a asp-controller="Confirmation" asp-action="Confirm" asp-route-id="@order.Id">@Localizer["Confirm"]</a>
                                        <a asp-controller="Confirmation" asp-action="Reject" asp-route-id="@order.Id">@Localizer["Reject"]</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h3>@Localizer["You have no tickets to confirm"]</h3>
                }
            </div>
            <div class="tab-pane fade" id="sold">
                @if (Model.SoldTickets.Count > 0)
                {
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>@Localizer["Event"]</th>
                                <th>@Localizer["Event date"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>@Localizer["Buyer"]</th>
                                <th>@Localizer["Track Number"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.SoldTickets)
                            {
                                <tr class="active">
                                    <td>@order.Ticket.Event.Name</td>
                                    <td>@order.Ticket.Event.Date.ToString("dd.MM.yyyy")</td>
                                    <td>@order.Ticket.Price</td>
                                    <td>@order.Buyer.Login</td>
                                    <td>@order.TrackingNumber</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h3>@Localizer["You have no sold tickets"]</h3>
                }
            </div>
        </div>
    }
</div>