﻿@model Reselling.Business.Models.User

@{
    ViewData["Title"] = "UserInfo";
}

<br />
<div class="jumbotron">
    <h3>@Localizer["Information"]:</h3>
    <div class="clearfix">
        @*<img src="@item.Photo" alt="@item.photo" />*@
        <h5>
            @Localizer["Login"] : @Model.Login
        </h5>
        <h5>
            @Localizer["Password"] : @Model.Password
        </h5>
        <h5>
            @Localizer["Name"] : @Model.FirstName @Model.LastName
        </h5>
        <h5>
            @Localizer["Address"] : @Model.Address
        </h5>
        <h5>
            @Localizer["PhoneNumber"] : @Model.PhoneNumber
        </h5>
        <h5>
            @Localizer["Local"] : @Model.Localization
        </h5>
        <h5>
            @Localizer["Role"] : @Model.Role.Name
        </h5>
    </div>
    <p><a class="btn btn-primary btn-lg" asp-controller="User" asp-action="ChangeOwnData" asp-route-id="@Model.Id">@Localizer["Edit"]</a></p>
</div>