﻿﻿@model List<Reselling.Business.Models.User>
@{
    int counter = 1;
    ViewData["Title"] = Localizer["List of Users"];
}

<form asp-controller="User" asp-action="UserList" method="post" class="form-horizontal">
    <h2>@ViewData["Title"]</h2>
    <hr />
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>№</th>
                    <th>@Localizer["User"]</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Role"]</th>
                    <th>@Localizer["Action"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Reselling.Business.Models.User user in Model)
                {
                    <tr>
                        <td>@(counter++)</td>
                        <td>@user.Login</td>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.Role.Name</td>
                        <td>
                            @if (User.Identity.Name != user.Login)
                            {
                                <a asp-controller="User" asp-action="ChangeRole" class="btn btn-primary btn-xs" asp-route-id="@user.Id">@Localizer["Change Role"]</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</form>