﻿@model Reselling.Presentation.Models.UserOrders

@{
    ViewData["Title"] = "UserOrders";
}
<br />
<div class="jumbotron">
    <h3>@Localizer["You orders"], @User.Claims.FirstOrDefault(claim => claim.Type == "UserName").Value:</h3>
    <hr />
    @if (Model.OrderedTickets.Count > 0)
    {
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>@Localizer["Event"]</th>
                    <th>@Localizer["Event date"]</th>
                    <th>@Localizer["Price"]</th>
                    <th>@Localizer["Order status"]</th>
                    <th>@Localizer["Tracking number"]</th>
                    <th>@Localizer["Comment"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.OrderedTickets)
                {
                    <tr class="active">
                        <td>@order.Ticket.Event.Name</td>
                        <td>@order.Ticket.Event.Date.ToString("dd.MM.yyyy")</td>
                        <td>@order.Ticket.Price</td>
                        <td>@order.Status</td>
                        <th>@order.TrackingNumber</th>
                        <th>@order.Comment</th>
                    </tr>
                }
            <tbody>
        </table>
    }
    else
    {
        <h3>@Localizer["Your order list is empty"]</h3>
    }
</div>
       
        