﻿﻿@model List<Reselling.Business.Models.City>
@{
    int counter = 1;
    ViewData["Title"] = Localizer["List of cities"];
}

<form asp-controller="Cities" asp-action="Index" method="post" class="form-horizontal">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <a class="btn btn-primary" asp-controller="Cities" asp-action="Create">@Localizer["New City"]</a>
    @if (Model.Count > 0)
    {
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>№</th>
                    <th>@Localizer["City"]</th>
                    <th>@Localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Reselling.Business.Models.City city in Model)
                {
                    <tr>
                        <td>@(counter++)</td>
                        <td>@city.Name</td>
                        <td>
                            <a asp-controller="Cities" asp-action="Update" asp-route-id="@city.Id">@Localizer["Edit"]</a>
                            <a asp-controller="Cities" asp-action="Delete" asp-route-id="@city.Id" onclick="return confirm('Are you sure?')">@Localizer["Delete"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>@Localizer["City list is empty"]</h3>
    }
</form>