﻿@model List<Reselling.Business.Models.Venue>
@{
    int counter = 1;
    ViewData["Title"] = Localizer["List of Venues"];
}

<form asp-controller="Venues" asp-action="Index" method="post" class="form-horizontal">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <a class="btn btn-primary" asp-controller="Venues" asp-action="Create">@Localizer["New Venue"]</a>
    @if (Model.Count > 0)
    {
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>№</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Address"]</th>
                    <th>@Localizer["City"]</th>
                    <th>@Localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Reselling.Business.Models.Venue venue in Model)
                {
                    <tr>
                        <td>
                            @(counter++)
                        </td>
                        <td>
                            @Localizer[venue.Name]
                        </td>
                        <td>
                            @Localizer[venue.Address]
                        </td>
                        <td>
                            @Localizer[venue.City.Name]
                        </td>
                        <td>
                            <a asp-controller="Venues" asp-action="Update" asp-route-id="@venue.Id">@Localizer["Edit"]</a>
                            <a asp-controller="Venues" asp-action="Delete" asp-route-id="@venue.Id" onclick="return confirm('Are you sure?')">@Localizer["Delete"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>@Localizer["Venue list is empty"]</h3>
    }
</form>
