﻿@model Reselling.Presentation.Models.VenueModel
@{
    ViewData["Title"] = Localizer["Update venue"];
}
<br />
<form asp-controller="Venues" asp-action="Update" method="post" class="form-horizontal">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CityId" class="col-md-2 control-label">@Localizer["City"]</label>
        <div class="col-md-10">
            <select class="form-control" id="select" asp-for="CityId" asp-items="@(new SelectList(ViewBag.ListOfCity,"Id","Name"))">
                <option>@Localizer["Please select one"]</option>
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label">@Localizer["Name"]</label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="col-md-2 control-label">@Localizer["Address"]</label>
        <div class="col-md-10">
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="reset" class="btn btn-default">@Localizer["Reset"]</button>
            <button type="submit" class="btn btn-primary">@Localizer["Update"]</button>

        </div>
    </div>
</form>