﻿﻿@model Reselling.Presentation.Models.EventModel
@{
    ViewData["Title"] = Localizer["Create event"];
}

<form asp-controller="Events" asp-action="Create" method="post" class="form-horizontal">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label">@Localizer["Name"]</label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Date" class="col-md-2 control-label">@Localizer["Date"]</label>
        <div class="col-md-10">
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="VenueId" class="col-md-2 control-label">@Localizer["Venue"]</label>
        <div class="col-md-10">
            <select class="form-control" id="select" asp-for="VenueId" asp-items="@(new SelectList(ViewBag.ListOfVenues,"Id","Name"))">
                <option>@Localizer["Please select one"]</option>
            </select>
            <span asp-validation-for="VenueId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label">@Localizer["Description"]</label>
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="reset" class="btn btn-default">@Localizer["Reset"]</button>
            <button type="submit" class="btn btn-primary">@Localizer["Create"]</button>
        </div>
    </div>
</form>