﻿﻿@model List<Reselling.Business.Models.Event>
@{
    int counter = 1;
    ViewData["Title"] = Localizer["List of Events"];
}

<form asp-controller="Events" asp-action="Index" method="post" class="form-horizontal">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <a class="btn btn-primary" asp-controller="Events" asp-action="Create">@Localizer["New Event"]</a>
    @if (Model.Count > 0)
    {
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>№</th>
                    <th>@Localizer["Image"]</th>
                    <th>@Localizer["Event"]</th>
                    <th style="width: 100px">@Localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Reselling.Business.Models.Event item in Model)
                {
                    <tr>
                        <td>@(counter++)</td>
                        <td>
                            <img alt=@item.Name src=@item.Banner class="img-rounded image-size" />
                        </td>
                        <td>
                            <h4>
                                @item.Name
                            </h4>
                            <h5>
                                @item.Venue.Name
                            </h5>
                            <h5>
                                @item.Date.ToString("dd.MM.yyyy")
                            </h5>
                            <p>
                                @item.Description
                            </p>
                        </td>
                        <td>
                            <a asp-controller="Events" asp-action="Update" asp-route-id="@item.Id">@Localizer["Edit Data"]</a>
                            <a asp-controller="Events" asp-action="LoadImage" asp-route-id="@item.Id">@Localizer["Edit Image"]</a>
                            <a asp-controller="Events" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')">@Localizer["Delete"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>@Localizer["Event list is empty"]</h3>
    }
</form>