﻿@{
    ViewData["Title"] = Localizer["Image load"];
}

<form asp-controller="Events" asp-action="LoadImage" method="post" enctype="multipart/form-data">
    <br />
    <h4>@ViewData["Title"]</h4>
    <hr />
    <input type="hidden" name="eventId" value="@ViewBag.EventId" />
    <div class="form-group">
        <label class="col-md-2 control-label">@Localizer["Banner"]</label>
        <div class="col-md-10">
            <input type="file" name="uploadedFile" class="form-control" /><br>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="reset" class="btn btn-default">@Localizer["Reset"]</button>
            <button type="submit" class="btn btn-primary">@Localizer["Load"]</button>
        </div>
    </div>
</form>