﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@Localizer["Contact"].</h2>

<address>
    Alexander Saponenko<br />
    Belarus, Gomel<br />
    <abbr title="Phone">P:</abbr>
    +375445015636
</address>

<address>
    <strong>@Localizer["Support"]:</strong> <a href="mailto:Wh1teR689@cmail.com">Wh1teR689@gmail.com</a><br />
</address>