﻿@model List<Reselling.Business.Models.Event>

@{
    ViewData["Title"] = "Events";
}
<br />
<div class="row">
    @foreach (Reselling.Business.Models.Event item in Model)
    {
        <div class="tiles col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a class="btn btn-primary" asp-controller="Tickets" asp-action="Tickets" asp-route-id=@item.Id>
                <div class="thumbnail">
                    <h4 style="text-align:center">
                        @item.Name
                    </h4>
                    <img class="img-shadow img-rounded image-size" alt=@item.Name src=@item.Banner />
                    <div class="caption">
                        <h5>
                            @Localizer["Date"]: @item.Date.ToString("dd.MM.yyyy")
                        </h5>
                        <h5>
                            @Localizer["Place"]: @item.Venue.Name
                        </h5>
                        <h5>
                            @Localizer["Address"]: @item.Venue.City.Name, @item.Venue.Address
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>



