﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.tiles {
    margin-bottom: 5px;
}
.tiles h4, h5 {
    font-style: italic;
}

.row .tiles a {
    padding: 0 0; 
    border-radius: 6px;
}
.row .tiles .thumbnail {
    transition: 0.5s;
    margin-bottom: 0; 
    background-color: #1c1e22; 
    border: 1px solid #3e444c;
    box-shadow: 6px 6px 21px 0 rgba(0,0,0,66);
}

.row .tiles .thumbnail:hover{
    transition: 0.5s;
    background-color: #32363c; 
    border: 1px solid black;
    animation-duration: 2s;
}

.ticket-img{
    margin-right:10px; 
    margin-bottom: 10px;
}

.img-shadow {
    box-shadow: 6px 6px 21px 0 rgba(0,0,0,1);
}

.event-info .name {
    text-align: center;
    font-style: italic;
}

.image-size{
    max-width: 250px;
    max-height: 250px;
}